.mark-item {
    text-decoration: line-through;
    color: grey;
}
svg {
    cursor: pointer;
}
.bg-img-main-container {
    position: absolute;
    top: 0px;
    z-index: -1;
    /* margin-top: 100px; */
}
.test {
    font-size: 80px;
    padding-top: 100px;
}

/* for the image */
.bg-img-main {
    display: inline-block;
    z-index: -99;
    /* position: absolute; */
}
