.mark-item {
    text-decoration: line-through;
    color: grey;
}
svg {
    cursor: pointer;
}

.todo-body-container {
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: min(30vh, 300px);
    min-width: 100vw;
}
.todo-body {
    position: absolute;
    top: 20px;
    inset-inline: 0px;
}
